<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1 id="header">Vareliste</h1>
        </div>
    </div>

    <a href="/createProduct">
        <button class="btn btn-success">Create Product!</button>
    </a>

    <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Varenavn</th>
                    <th>Pris</th>
                    <th>Beskrivelse</th>
                    <th>Firma</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}"> <!--th:each means it will loop through the product list -->
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.company.name}"></td>
                <td>
                    <a th:href="@{'/deleteProduct/'+${product.id}}" class="btn btn-danger">Delete</a>
                    <a th:href="@{'/updateProduct/'+${product.id}}" class="btn btn-info">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>